.customButtons{
    margin-top: 50px;
    font-size: medium;
    padding: 10px;
    border-radius: 7px;
    justify-content: center;
    color: black;
    cursor: pointer;
}

.button--primary {
  background-color: #03AEEE;
  color: white;
}

.button--secondary {
  width: 50%;
  background-color: #f8f9fa;
  color: #212529;
  border: 1px solid #dee2e6;
}

.button--ternary{
    position: absolute;
    height: 48px;
    width: 50px;
    right: 0;
}

.customButtons:disabled{
  color : rgb(72, 78, 78);
  cursor: not-allowed;
}
