.heading {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 5px 5px 10px;
  box-shadow: 0px 3px 6px #9D9D9D29;
  position: relative;
  height: 100px;
  display: flex;
  width: 1420px;
  flex-direction: row;
  align-items: center;
}

.right-items{
  position: absolute;
  right : 4%;
  top : 35%;
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.filter{
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between;
  height: 25px;
}

.filter Select{
  padding-top: 10px;
  margin-left: 10px;
  width: 100%;
  background-color: #EAF9FF;
  border-radius: 50px ;
  display: flex;
  text-align: center;
  justify-content: center;
  border-color: #EAF9FF;
  font-size: medium;
}

.icon-button{
  display: flex;
  flex-direction: row;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

.icon-button img {
  height: 40px;
  border-radius: 50%;
  position: absolute;
}

.task {
  border-radius: 50px;
  padding: 15px;
  background: #EAF9FF 0% 0% no-repeat padding-box;
  border-radius: 50px;
  opacity: 1;
  height: 40px;
  display: flex;
  align-items: center ;
  font-size: 19px;
  padding-left: 55px;
}
