

/* .input-element{
    height: 40px; 
    margin-top: 10px;
} */



.input-div-login{
    margin-top: 10px;
}

.label-login{
    color: rgba(30, 180, 240, 1);
}
.input-login{
    width: 100%;
    position: relative;
}

input[type='checkbox']{
    width: min-content;
    margin: 10px;
}

.input-div-employee-form{
    width: 33.33%;
    margin : 0px 30px 10px 2px;
}

.input-employee-form{
    margin-top: 5px;
}