
html{
    height: 100%;
}
body{
    height: 100%;
}

.left-bar {
    position: fixed;
    height : 100%;
    width:308px;
    border: rgb(191, 208, 227) solid ;
}

/* .logo {
    background-color: #d5e0f0;
    align-items: center;
    height: 90px;
    padding: 20px;
} */

.side-list {
    background-color: rgb(47, 110, 186);
    color: rgb(177, 206, 225); 
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 50px 0px 0px 50px;
    padding: 20px;
}

.nav-item{
    display:flex;
    align-items: center;
    gap: 10px;
}

ul{
    list-style-type: none;
}
.employee-list img{
    padding: 5px;
    background-color: #d5e0f0;
    border-radius: 10px;
}

